main {
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    justify-content: space-around;
}

/* h2 {
    flex: 1;
} */

/* #page-title {
    flex: 0 90px;
} */

form {
    padding: 1.0em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#new-recipe {
    /* flex: 4; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#new-recipe > div {
    flex: 1;
    align-items: start;
    justify-content: space-around;
    
}

input {
    padding: 1.0em;
    width: 100%;
}

textarea {
    padding: 1.0em;
    width: 100%;
    resize: none;
}