main {
    justify-content: left;
    align-items: start;
}

img {
    /* flex: 1;
    max-width: 80%; */
    /* max-height: 10%; */
    align-self: center;
    width: 100%;
    padding: 0 20vw;
}

#recipe-image {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 15vw;
    width: 75%;
}

h1 {
    padding-top: 0.75em;
    text-align: center;
}

.recipe-details {
    /* flex: 4; */
    text-align: start;
    align-items: start;
    /* padding: 0 25vw; */
}

#recipe-text-elements {
    flex: 4;
    display: flex;
    flex-direction: column;
    padding: 0 25vw
}