.card {
  padding: 10px;
}

#all-recipes {
  margin-top: 15px;
  margin-bottom: 15px;
}

aside {
  flex: 0 50px;
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  align-self: end;
}

.row {
  flex: 1;
  padding: 10px 10px;
  width: 100vw;
}

#suggested-recipes {
  flex: 1;
  align-items: center;
  margin-bottom: 20px;
}

img {
  max-height: 60%;
  padding: 0;
}

h2 {
  flex: 0 50px;
}
